@using Demo.Models.ViewModels
@model FormFieldModel

<div class="row my-1">
    <div class="col-3">@Model.Label</div>
    @if(Model.IsReadOnly || (!User.HasAdminRights() && Model.RequiresRoleValidation))
    {
        <div class="col-9">
            @Html.TextBox(Model.FieldName, Model.Value,
                new
                { 
                    @class = "form-control form-control-readonly", 
                    @readonly = "readonly" 
                })
        </div>
    }
    else
    {
        <div class="col-9">
            @if(Model.Options?.Any() == true)
            {
                @Html.DropDownList(
                    Model.FieldName, 
                    Model.Options.Select(option => new SelectListItem(option, option)),
                    new { @class = "form-control" })
            }
            else
            {
                 @Html.TextBox(
                    Model.FieldName, 
                    Model.Value, 
                    new { @class = "form-control" })
            }
        </div>
    }
</div>
